<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Suppli</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/351810bc77.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <img src="img/logo.png" width="50" height="50" alt="Logo Big Suppli" />
      <h1>Big Suppli</h1>
    </header>
    <nav>
      <div class="navbar">
        <a href="index.html" class="Inicio">Inicio</a>
        <div class="dropdown">
          <button class="dropbtn">
            Sobre Nosotros
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="Historia.html">Historia</a>
            <a href="Vision.html">Mision y Visión</a>
          </div>
        </div>
        <a href="Contacto.html">Contacto</a>
        <a href="servicio.html">Servicio</a>
        <a href="productos.html">Catalogo Productos</a>
        <a href="Ayuda.html">Ayuda</a>
      </div>
    </nav>
    <main>
      <div class="ventana">
        <section id="inicio">
          <article>
            <h2>Bienvenidos a Big Suppli, tu mayor elección</h2>
            <p>
              En Big Suppli, te ofrecemos una amplia gama de lencería para el
              hogar y electrodomésticos de alta calidad. Nuestro objetivo es
              brindar a los hogares venezolanos la oportunidad de acceder a
              productos importados que mejoren su calidad de vida.
            </p>
            <img
              src="img/descarga (2).jpeg"
              width="800"
              height="400"
              alt="Imagen de bienvenida"
            />
          </article>
        </section>

        <section id="acerca">
          <article>
            <h2>¿Quiénes somos?</h2>
            <p>
              Somos una extensión de Coimtex C.A., una empresa que amplió su
              presencia en el mercado con una nueva subgerencia conocida como
              Big Suppli, abriendo nuevas oportunidades de venta.
            </p>
          </article>

          <article>
            <h3>Nuestra Historia</h3>
            <p>
              Coimtex C.A. fue fundada en Barquisimeto, Venezuela, en 2017, por
              un grupo de emprendedores con la visión de proporcionar a los
              hogares venezolanos acceso a productos de alta calidad. En 2024,
              se creó Big Suppli, consolidándose como un referente en la
              distribución de lencería y electrodomésticos en Venezuela.
            </p>
          </article>

          <article>
            <h3>Misión</h3>
            <p>
              Ofrecer a nuestros clientes una experiencia de compra en línea
              cómoda y segura, proporcionando productos de alta calidad y un
              servicio de entrega rápida desde nuestros almacenes nacionales.
            </p>
          </article>

          <article>
            <h3>Visión</h3>
            <p>
              Liderar el mercado de comercio electrónico en Venezuela mediante
              la integración de tecnología avanzada y prácticas sostenibles,
              ofreciendo productos de alta calidad y un servicio eficiente.
            </p>
          </article>
        </section>
      </div>
    </main>

    <footer>
      <h4>Contáctenos</h4>
      <p>Teléfono: #######</p>
      <p>Email: @gmail.com</p>
      <p>&copy; 2024 Big Suppli. Todos los derechos reservados.</p>
      <div class="social-media">
        <a href="https://www.facebook.com/profile.php?id=61554757543977"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/bigsuppli?igsh=bm9veTRmZjg1cmFw"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://wa.me/584245524650" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
