<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Suppli</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/351810bc77.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <img src="img/logo.png" width="50" height="50" alt="Logo Big Suppli" />
      <h1>Big Suppli</h1>
    </header>
    <nav>
      <div class="navbar">
        <a href="index.html" class="Inicio">
          <i class="fa fa-home"></i> Inicio</a
        >
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            Sobre Nosotros
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="Historia.html">Historia</a>
            <a href="Vision.html">Mision y Visión</a>
          </div>
        </div>
        <a href="Contacto.html">
          <i class="fa fa-phone-square" aria-hidden="true"></i>
          Contacto</a
        >
        <a href="servicio.html">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>Servicio</a
        >
        <a href="productos.html"
          ><i class="fa fa-shopping-cart" aria-hidden="true"></i>Catalogo
          Productos</a
        >
        <a href="Ayuda.html"
          ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Ayuda</a
        >
      </div>
    </nav>

        <main>
          <section class="destacado">
            <h2> <i class="fa fa-book" aria-hidden="true"></i>Reseña Historica</h2>
            <div class="reseña">
              <img
              src="img/banner 2.jpeg"
              width="100"
              height="100"
              alt="Imagen de bienvenida"
            />
            <p>
              <strong> Coimtex C.A. fue fundada en Barquisimeto, Venezuela,
              en 2017 por un grupo de emprendedores con la visión de
              proporcionar a los hogares venezolanos acceso a productos
              de lencería del hogar y electrodomésticos importados de
              alta calidad. La empresa comenzó con un pequeño equipo y
              un almacén, centrando sus esfuerzos en la selección cuidadosa
              de productos y un servicio al cliente excepcional. En 2024,
              Coimtex C.A. amplió su presencia en una nueva sub gerencia
              llamada Big Suppli, abriendo nuevos canales de venta.
              Se ha consolidado como un referente en la distribución de lencería
              del hogar y electrodomésticos en Venezuela, destacándose por la calidad
              de sus productos y su eficiente servicio de entrega. La empresa sigue
              comprometida con la excelencia y la satisfacción del cliente,
              proyectando un futuro decrecimiento continuo y adaptación a 
              las necesidades del mercado. </p></strong>
            </p>
            </div>
          </section>

          <section class="noticias">
            <div class="ventana">
            <h2> <i class="fa fa-users" aria-hidden="true"></i>
              Fundadores
            </h2>
            <ul>
              <li> 	Eligheor: Gerente de almacén.</li>
                <li>	Georelvik: Gerente de compras.</li>
                <li>	Bryan: Gerente de administración.</li>
                <li>	Geolmer: Gerente de ventas.</li>

            </ul>
          </div>
              
          </section>

          
        </main>
      </body>
    </html>
    <footer>
      <h4>Contáctenos</h4>
      <p>Teléfono: #######</p>
      <p>Email: @gmail.com</p>
      <p>&copy; 2024 Big Suppli. Todos los derechos reservados.</p>
      <div class="social-media">
        <a href="https://www.facebook.com/profile.php?id=61554757543977"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/bigsuppli?igsh=bm9veTRmZjg1cmFw"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://wa.me/584245524650" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
