<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Suppli</title>
    <link rel="stylesheet" href="../CSS/main.css" />

  </head>

  <body>
    <header>
      <source srcset="" />
      <img
        src="../../assets/img/logo.webp"
        width="50"
        height="50"
        alt="Logo Big Suppli"
        loading="lazy"
      />
      <h1>Big Suppli</h1>
    </header>
    <nav>
      <div class="navbar">
        <!-- Enlace Inicio -->
        <a href="index.html" class="inicio">
          <i class="fa fa-home"></i> Inicio
        </a>
    
        <!-- Menú desplegable sobre Nosotros -->
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-address-book" aria-hidden="true"></i> Sobre Nosotros
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="Historia.html">Historia</a>
            <a href="Vision.html">Misión y Visión</a>
          </div>
        </div>
    
        <!-- Enlace Contacto -->
        <a href="Contacto.html">
          <i class="fa fa-phone-square" aria-hidden="true"></i> Contacto
        </a>
    
        <!-- Enlace Servicio -->
        <a href="servicio.html">
          <i class="fa fa-handshake-o" aria-hidden="true"></i> Servicio
        </a>
    
        <!-- Enlace Catalogo Productos -->
        <a href="productos.html">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Catálogo Productos
        </a>
    
        <!-- Enlace Ayuda -->
        <a href="Ayuda.html">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ayuda
        </a>
      </div>
    </nav>
    

    

    <div class="banner">
      <img class="imagen1" src="../../assets/img/banner-inicio.webp" alt="" />
      <img class="imagen2" src="../../assets/img/banner-inicio 2.webp" alt="" />
      <img class="imagen3" src="../../assets/img/banner 2.webp  " alt="" />
    </div>

    <main>
      <div class="ventana">
        <section id="inicio">
          <article>
            <h2>Bienvenidos a Big Suppli, tu mayor elección</h2>
            <p>
              En Big Suppli, te ofrecemos una amplia gama de lencería para el
              hogar y electrodomésticos de alta calidad. Nuestro objetivo es
              brindar a los hogares venezolanos la oportunidad de acceder a
              productos importados que mejoren su calidad de vida.
            </p>
            <img
              src="../../assets/img/baner 1.webp"
              width="100"
              height="100"
              alt="Imagen de bienvenida"
            />
          </article>
        </section>

        <section id="acerca">
          <article>
            <h2>¿Quiénes somos?</h2>
            <p>
              Somos una extensión de Coimtex C.A., una empresa que amplió su
              presencia en el mercado con una nueva subgerencia conocida como
              Big Suppli, abriendo nuevas oportunidades de venta.
            </p>
          </article>

          <article>
            <h3>Nuestra Historia</h3>
            <p>
              Coimtex C.A. fue fundada en Barquisimeto, Venezuela, en 2017, por
              un grupo de emprendedores con la visión de proporcionar a los
              hogares venezolanos acceso a productos de alta calidad. En 2024,
              se creó Big Suppli, consolidándose como un referente en la
              distribución de lencería y electrodomésticos en Venezuela.
            </p>
          </article>

          <article>
            <h3>Misión</h3>
            <p>
              Ofrecer a nuestros clientes una experiencia de compra en línea
              cómoda y segura, proporcionando productos de alta calidad y un
              servicio de entrega rápida desde nuestros almacenes nacionales.
            </p>
          </article>

          <article>
            <h3>Visión</h3>
            <p>
              Liderar el mercado de comercio electrónico en Venezuela mediante
              la integración de tecnología avanzada y prácticas sostenibles,
              ofreciendo productos de alta calidad y un servicio eficiente.
            </p>
          </article>
        </section>
      </div>

      <section id="productos">
        <h2>Catálogo de Productos</h2>

        <div class="productos-container">
          <article class="producto">
            <h3>Set de Alfombra</h3>
            <img
              src="../../assets/img/set-alfonbras.webp"
              width="300"
              height="300"
              alt="Set de Alfombra"
            />
          </article>

          <article class="producto">
            <h3>Batidora</h3>
            <img
              src="../../assets/img/batidora.webp"
              width="300"
              height="300"
              alt="Batidora"
            />
          </article>

          <article class="producto">
            <h3>Set de Cuchillos Oster</h3>
            <img
              src="../../assets/img/set-de-cuchillos-oster.webp"
              width="300"
              height="300"
              alt="Set de Cuchillos Oster"
            />
          </article>

          <article class="producto">
            <h3>Juego de Sabanas</h3>
            <img
              src="../../assets/img/juego de sabanas rojas_11zon.webp"
              width="300"
              height="300"
              alt="Juego de Sabanas"
            />
          </article>

          <!-- Puedes agregar más productos aquí -->
        </div>

        <div class="productos-container">
          <article class="producto">
            <h3>Freidora de aire 3QT (3 litros)</h3>
            <img
              src="../../assets/img/freidora.webp"
              alt="Freidora de aire 3QT"
            />
            <p class="price">
              Descripción del producto: La potente freidora de aire eléctrica
              Brentwood AF-300W tiene una capacidad de 3,2 cuartos de galón y
              1200 vatios.
            </p>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <div>
        <h4>Contáctenos</h4>
        <p><i class="fas fa-phone mr-3"></i> Teléfono: #######</p>
        <p><i class="fas fa-envelope mr-3"></i> Email: @gmail.com</p>
        <p>
          <i class="fas fa-home mr-3"></i> Dirección: Barquisimeto, Venezuela
        </p>
        <p>&copy; 2024 Big Suppli. Todos los derechos reservados.</p>
      </div>

      <div class="social-media">
        <a href="https://www.facebook.com/profile.php?id=61554757543977"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/bigsuppli?igsh=bm9veTRmZjg1cmFw"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://wa.me/584245524650" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
