<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Suppli</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/351810bc77.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <img src="img/logo.png" width="50" height="50" alt="Logo Big Suppli" />
      <h1>Big Suppli</h1>
    </header>
    <nav>
      <div class="navbar">
        <a href="index.html" class="Inicio">
          <i class="fa fa-home"></i> Inicio</a
        >
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fa fa-address-book" aria-hidden="true"></i>
            Sobre Nosotros
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="Historia.html">Historia</a>
            <a href="Vision.html">Mision y Visión</a>
          </div>
        </div>
        <a href="Contacto.html">
          <i class="fa fa-phone-square" aria-hidden="true"></i>
          Contacto</a
        >
        <a href="servicio.html">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>Servicio</a
        >
        <a href="productos.html"
          ><i class="fa fa-shopping-cart" aria-hidden="true"></i>Catalogo
          Productos</a
        >
        <a href="Ayuda.html"
          ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Ayuda</a
        >
      </div>
    </nav>

    <main>
      <section id="productos">
        <h2>Catálogo de Productos</h2>

        <div class="productos-container">
          <article class="producto">
            <h3>Set de Alfombra</h3>
            <img
              src="img/IMG-20241020-WA0009.jpg"
              width="300"
              height="300"
              alt="Set de Alfombra"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Batidora BRENTWOOD</h3>
            <img
              src="img/batidora.png"
              width="300"
              height="300"
              alt="Batidora"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Set de Cuchillos Oster</h3>
            <img
              src="img/set de cuchillos oster.png"
              width="300"
              height="300"
              alt="Set de Cuchillos Oster"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Juego de Sabanas</h3>
            <img
              src="img/juego de sabanas.png"
              width="300"
              height="300"
              alt="Juego de Sabanas"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Mini Horno Tostador</h3>
            <img
              src="img/mini horno tostador.png"
              width="300"
              height="300"
              alt="HORNO Tostador"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Six Pack de Cuchiullos Oster</h3>
            <img
              src="img/six pack de cuchillos oster (1).png"
              width="300"
              height="300"
              alt="Six PACK DE CUCHIULLOS"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Sartenes Oster</h3>
            <img
              src="img/SARTENES OSTER.png"
              width="300"
              height="300"
              alt="JUEGO DE SARTENES"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Juego de Sabanas</h3>
            <img
              src="img/juego de sabanas 2.png"
              width="300"
              height="300"
              alt="Juego DE Sabanas"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Licuadora BRENTWOOD</h3>
            <img
              src="img/licuadora brentwood.png"
              width="300"
              height="300"
              alt="Licuadora"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Cafetera BRENTWOOD</h3>
            <img
              src="img/cafetera brentwood.png"
              width="300"
              height="300"
              alt="cafetera"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>juego de cuchillos (13 piezas) Oster</h3>
            <img
              src="img/cuchillos oster.png"
              width="300"
              height="300"
              alt="cuchillos oster"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Juego de Sartenes</h3>
            <img
              src="img/juego de saternes.png"
              width="300"
              height="300"
              alt="Juego de Sartenes"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Colchas Matrimoniales</h3>
            <img
              src="img/colchas matrimoniales.png"
              width="300"
              height="300"
              alt="Batidora"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Batidora</h3>
            <img
              src="img/batidora 2 (1).png"
              width="300"
              height="300"
              alt="Batidora"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Juego de Cuchillos (4 piezas)</h3>
            <img
              src="img/juego de cuchillos 4 piezas.png"
              width="300"
              height="300"
              alt="Juego de Cuchillos"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          <article class="producto">
            <h3>Juego de Cuchillos (6 piezas)</h3>
            <img
              src="img/juego de cuchillos de 6 piezas.png"
              width="300"
              height="300"
              alt="juego de cuchillos 6 piezas"
            />
            <p class="price">Precio: $13.34</p>
            <p class="price">Precio detalle: $23.51</p>
          </article>

          
          </article>

          <!-- Puedes agregar más productos aquí -->
        </div>
      </section>
    </main>

    <footer>
      <h4>Contáctenos</h4>
      <p>Teléfono: #######</p>
      <p>Email: @gmail.com</p>
      <p>&copy; 2024 Big Suppli. Todos los derechos reservados.</p>
      <div class="social-media">
        <a href="https://www.facebook.com/profile.php?id=61554757543977"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/bigsuppli?igsh=bm9veTRmZjg1cmFw"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://wa.me/584245524650" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
