@use './variables' as *;

.footer {
  background-color: $footer-bg;
  color: $navbar-text-color;
  padding: $spacing-large $spacing-small;
  text-align: center;

  .footer-link {
    color: $secondary-color;
    margin: 0 $spacing-small;
    transition: color $transition-fast;
  }
}
