@use 'variables' as *;

/* Productos */
.productos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem; // Reemplazo de $spacing-base
    margin-top: 2rem; // Reemplazo de $spacing-large
  
    .producto {
      flex: 1 1 30%; /* Flex para que los productos se distribuyan */
      box-sizing: border-box;
      padding: 1rem; // Reemplazo de $spacing-base
      text-align: center;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      transition: box-shadow 0.3s ease;
  
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
  
      .price {
        margin-top: 0.5rem; // Reemplazo de $spacing-small
        font-weight: bold;
      }
    }
  
    @media (max-width: $breakpoint-mobile) {
      .producto {
        flex: 1 1 100%; /* Hacer que los productos ocupen el 100% en móviles */
        padding: 0.5rem; // Reemplazo de $spacing-small
      }
    }
  }
  