$primary-color: #309BD7;
$secondary-color: #F4991C;
$neutral-color: #333;
$light-bg: cornsilk;
$dark-bg: #f9f9f9;
$hover-color: #ddd;
$border-color: #309BD7;
$footer-bg: $primary-color;

/* _navbar.scss */

/* Variables */
$navbar-bg: #309BD7;   /* Fondo del navbar */
$navbar-hover: #F4991C; /* Hover del navbar */
$navbar-text-color: white;
$menu-item-hover-bg: rgba(0, 0, 0, 0.1);  /* Fondo sutil en el hover */
$dropdown-bg: #2d8ca3;  /* Fondo de los dropdowns */
$dropdown-hover-bg: rgba(0, 0, 0, 0.15); /* Hover de dropdown */